{% extends "./base.html" %}
{% block base %}
<div id="dash_body" class="bg-body-secondary align-items-center d-flex flex-column">
    <div class="d-flex flex-column align-items-center w-100 mt-2">
        <div style="background-color: rgb(177, 177, 177);" class="bg-tertiary p-3 border border-dark border-1 my-2 d-flex justify-content-evenly align-items-center gap-5 w-75">
            <p class="w-50">Pic Goes Here: Melissa H</p>
            <div class="w-50">
                <p><b>The CEO</b></p>
                <p class="fs-3">"I love healthy food and aquired this company to give everyone more accessible health food options."</p>
            </div>
        </div>
            <div style="background-color: rgb(177, 177, 177);" class="p-3 border border-dark border-1 my-2 d-flex justify-content-evenly align-items-center gap-5 w-75">
                <p class="w-50">Pic Goes Here: Rick T</p>
                <div class="w-50">
                    <p><b>Project Manager</b></p>
                    <p class="fs-4">When trying to find the PM for a quote, he was found eating a sandwich out of a trashcan. When questioned, he replied, "I just wanted a sandwich"</p>
                </div>
            </div>
            <div style="background-color: rgb(177, 177, 177);" class="bg-tertiary p-3 border border-dark border-1 my-2 d-flex justify-content-evenly align-items-center gap-5 w-75">
                <p class="w-50">Pic Goes Here: Jason F</p>
                <div class="w-50">
                    <p><b>Sandwitch Expert</b></p>
                    <p class="fs-3">"I'm just happy to be here."</p>
                </div>
            </div>
                <div style="background-color: rgb(177, 177, 177);" class="p-3 border border-dark border-1 my-2 d-flex justify-content-evenly align-items-center gap-5 w-75">
                    <p class="w-50">Pic Goes Here: Kiros</p>
                    <div class="w-50">
                        <p><b>Health Inspector</b></p>
                        <p class="fs-4">After the company was validated and permitted to open the Health Inspector handed the keys to the Project Manager and was never seen again. Some say this was only the beginning of his journey. </p>
                    </div>
                </div>
    </div>
</div>
{% endblock base %}