{% extends "./base.html" %}
{% block base %}

<div class="container rounded w-50 my-5 p-4">
    <h1 class="text-center text-success mb-5">New Sub</h1>
    <form action="/insert_sub" method="POST" enctype="multipart/form-data">
        <p class="fs-3 text-success mt-5 border-success border-bottom">General Info</p>
        <div class="d-flex justify-content-between gap-5 mt-4">
            <div class="w-50">
                <div class="mb-3">
                    <label for="" class="form-label">Sub Name</label>
                    {% if "name" in session %}
                        <input type="text" name="name" class="form-control" value="{{session['name']}}">
                    {% else %}
                        <input type="text" name="name" class="form-control">
                    {% endif %}
                    {% with messages = get_flashed_messages(category_filter = ["name"]) %}
                        {% if messages %}
                            <div class="alert alert-danger mt-2" role="alert">
                                {% for message in messages %}
                                    <p>{{message}}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <label for="price" class="form-label">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" step="0.01" name="price" class="form-control">
                </div>
                {% with messages = get_flashed_messages(category_filter = ["price"]) %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="w-50">
                <div class="mb-3">
                    <label for="image" class="form-label">Sub Image</label>
                    <input type="file" name="image" id="file-upload" accept="*.gif, *.jpg, *.png" class="form-control" required>
                </div>
                <div class="mb-3 w-50 d-none" id="file-preview-area"> 
                    <p>Image Preview</p>
                    <img class="file-preview" id="file-preview">
                </div>
            </div>
        </div>
        <p class="fs-3 text-success border-success border-bottom mt-3">Description</p>
        <div class="mb-3">
            <div class="mb-3">
                <label for="brief_description" class="form-label">Brief</label>
                {% if "brief_description" in session %}
                    <textarea name="brief_description" cols="30" rows="2" class="form-control">{{session['brief_description']}}</textarea>
                {% else %}
                    <textarea name="brief_description" cols="30" rows="2" class="form-control" placeholder="This will be visible on the menu page, when customers click the 'info' pop up."></textarea>
                {% endif %}
                {% with messages = get_flashed_messages(category_filter = ["brief_description"]) %}
                    {% if messages %}
                        <div class="alert alert-danger mt-2" role="alert">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="mb-3">
            <label for="full_description" class="form-label">Full Description</label>
            {% if "full_description" in session %}
                <textarea name="full_description" cols="30" rows="6" class="form-control">{{session['full_description']}}</textarea>
            {% else %}
                <textarea name="full_description" cols="30" rows="6" class="form-control" placeholder="This will display on the home page as the product feature blurb."></textarea>
            {% endif %}
            {% with messages = get_flashed_messages(category_filter = ["full_description"]) %}
                {% if messages %}
                <div class="alert alert-danger mt-2" role="alert">
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
        </div>
        <p class="fs-3 text-success border-success border-bottom mt-3">Ingredients</p>
        <div class="d-flex justify-content-between gap-5 mt-4">
            <div class="w-50">
                <div class="mb-3">
                    <label for="bread" class="form-label">Bread</label>
                    {% if "bread" in session %}
                        <input type="text" name="bread" class="form-control" value="{{session['bread']}}">
                    {% else %}
                        <input type="text" name="bread" placeholder="None" class="form-control">
                    {% endif %}
                    {% with messages = get_flashed_messages(category_filter = ["bread"]) %}
                        {% if messages %}
                        <div class="alert alert-danger mt-2" role="alert">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                
                </div>
                <div class="mb-3">
                    <label for="cheese" class="form-label">Cheese</label>
                    {% if "cheese" in session %}
                        <input type="text" name="cheese" value="{{session['cheese']}}" class="form-control">
                    {% else %}
                        <input type="text" name="cheese" placeholder="None" class="form-control">
                    {% endif %}
                    {% with messages = get_flashed_messages(category_filter = ["cheese"]) %}
                        {% if messages %}
                        <div class="alert alert-danger mt-2" role="alert">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="mb-3">
                    <label for="sauce" class="form-label">Sauce</label>
                    {% if "sauce" in session %}
                        <input type="text" name="sauce" value="{{session['sauce']}}" class="form-control">
                    {% else %}
                        <input type="text" name="sauce" placeholder="None" class="form-control">
                    {% endif %}
                    {% with messages = get_flashed_messages(category_filter = ["sauce"]) %}
                        {% if messages %}
                        <div class="alert alert-danger mt-2" role="alert">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}

                </div>
            </div>
            <div class="w-50">
                <div class="mb-3">
                    <label for="protein" class="form-label">Protein</label>
                    {% if "protein" in session %}
                        <input type="text" name="protein" value="{{session['protein']}}" class="form-control">
                    {% else %}
                        <input type="text" name="protein" placeholder="None" class="form-control">
                    {% endif %}
                    {% with messages = get_flashed_messages(category_filter = ["protein"]) %}
                        {% if messages %}
                        <div class="alert alert-danger mt-2" role="alert">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="mb-3">
                    <label for="vegetables" class="form-label">Vegetables</label>
                    {% if "vegetables" in session %}
                        <input type="text" name="vegetables" value="{{session['vegetables']}}" class="form-control">
                    {% else %}
                        <input type="text" name="vegetables" placeholder="None" class="form-control">
                    {% endif %}
                    {% with messages = get_flashed_messages(category_filter = ["vegetables"]) %}
                        {% if messages %}
                        <div class="alert alert-danger mt-2" role="alert">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end gap-3 mt-2">
            <a href="/menu" class="btn btn-secondary h-75">Cancel</a>
            <input type="submit" class="btn btn-warning" value="Save">
        </div>
    </form>
    
</div>

<!-- FOOTER -->
<div class="bg-success border-top border-warning border-3" style="width: 100%; height: 50px;"></div>

<script src="../static/js/script.js"></script>
{% endblock base %}