{% extends "./base.html" %}
{% block base %}

<div>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Check out our featured sub!</h1>
                <p class="lead">This flatbread grilled cheese sandwich is the star of the show. A mouthwatering combination of 3 white cheeses, melted to perfection and lightly seasoned, blend perfectly with the sauteed spinach and sun-dried tomatoes. The asiago flatbread is toasted to perfection and buttered to ensure the perfect crispy and cheesy bite every time.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <a href="/menu" class="btn btn-outline-secondary btn-lg px-4">Menu</a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="../static/images/grilled_cheese.jpg" alt="" width="720">
            </div>
        </div>
    </div>
    {% if "user_id" not in session %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Become a Member</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Sign-Up for exclusive member benefits,<br> like 10% off every order!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/registration" class="btn btn-warning btn-lg px-4 gap-3">Sign-Up</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<!-- FOOTER -->
<div class="bg-success border-top border-warning border-3" style="width: 100%; height: 50px;"></div>
{% endblock base %} 